/*
 * Code written in Stylus
 *   http://learnboost.github.io/stylus/
 */

@import 'nib/vendor'
@import 'nib/gradients'

#contact-content
  width 100%
  min-width 260px
  h1
    color #fff
    font-size 26px
    font-weight normal
    margin-top 0.2em
    margin-bottom 0.5em
    margin-left -0.134em
  label
    color #fff
    font 12px/1.5 Arial, sans-serif
    font-size 12px
    display block
  textarea
    height 112px
    resize none
  #submit
    &.error
      color white
      background-color red
  #success
    font-size 19px
    text-align center
    position absolute
    top 29%
    display none
  ::-webkit-input-placeholder
    color #c5a11b
    font-style italic
  input
    &:focus
      &::-webkit-input-placeholder
        color #9a8128
  ::-moz-placeholder
    color #494022
    font-style italic
  :-moz-placeholder
    color #494022
    font-style italic
  :-ms-input-placeholder
    color #494022
    font-style italic
  input:not([type="submit"])
  textarea
    width 98%
    color #a9a9a9
    background #3d3d3d
    border 1px solid #10100f
    font-size 12px
    margin-bottom 5px
    padding 4px
  input:not([type="submit"]):focus
  textarea:focus
    background linear-gradient(bottom, #3d3d3d, #414141)
    border 1px solid #504211
  input:required
  textarea:required
    box-shadow none
.form-button
  width 100px
  height 23px
  background-color #3a2e03
  color #fff
  border none
  border-radius 8px
  padding 0
  display block
  cursor pointer
  &:hover
    color #000
    background #b89a2e
    border 1px solid #8f7000
  &:active
    position relative
    top 1px
  &:focus
    color #f6cc37
    border 1px solid #f6cc37
    outline none