/*
 * Code written in Stylus
 *   http://learnboost.github.io/stylus/
 */

@import 'nib/vendor'
@import 'nib/gradients'

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-box-shadow arguments
  box-shadow arguments

@font-face
  // source: http://www.fontsquirrel.com/fonts/kirsty
  font-family Kirsty
  font-weight normal
  font-style normal
  src url('../fonts/Kirsty.ttf') format('truetype')
@font-face
  // source: http://www.fontsquirrel.com/fonts/yataghan
  font-family Yataghan
  font-weight normal
  font-style normal
  src url('../fonts/Yataghan.ttf') format('truetype')
@font-face
  // source: http://www.fontsquirrel.com/fonts/quattrocento-sans
  font-family Quattrocento
  font-weight normal
  font-style normal
  src url('../fonts/QuattrocentoSans-Regular.otf') format('opentype')
@font-face
  // source: http://www.fontsquirrel.com/fonts/matchbook
  font-family Matchbook
  font-weight normal
  font-style normal
  src url('../fonts/Matchbook.otf') format('opentype')
@font-face
  // source: http://www.fontsquirrel.com/fonts/bitstream-vera-sans
  font-family BitstreamVeraSans
  font-weight normal
  font-style normal
  src url('../fonts/BitstreamVeraSans.ttf') format('truetype')

a
  color yellow
html
  width 100%
  height 100%
  margin 0 0
body
  width 100%
  height 100%
  background-image url(../gfx/tile-brushed-metal.png)
  color white
#header
  width 100%
  color #ccc
  position relative
  z-index 2
  h1, h2
    text-shadow 1px 2px 2px black
    text-align center
    margin 0
  h1
    font-family Kirsty
    font-size 112px
    color #00BE63
  h2
    font-family Yataghan
    font-size 42px
    color #00F37F
    margin-top -10px
#menu
  margin 6px auto
  text-align center
  div
    font-size 22px
    padding 6px 12px
    border-top 1px solid #242424
    border-right 1px solid #242424
    border-left 1px solid #1f1e1e
    border-bottom 1px solid #4d4d4d
    background-color rgba(0, 0, 0, 0.2)
    display inline-block
    cursor pointer
    &:hover
      background-color rgba(30, 30, 30, 0.2)
#about
  border-radius 13px 0 0 13px
#hire
  border-radius 0 13px 13px 0
#links
  box-shadow 0 0 5px rgba(0, 0, 0, 0.6), 0 0 0 1px #000, inset 0 1px 0 rgba(255, 255, 255, 0.2)
  background linear-gradient(top, #434343, #0D0D0D)
  padding 6px 6px 6px 3px
  border-radius 0 8px 8px 0
  position fixed
  left 0
  top 240px
  margin 0
  z-index 9999
  li
    width 52px
    height 52px
    margin 0 2px
    display block
    position relative
    .link-text
      color #cad0cf
      text-shadow 3px 2px 2px black
      font-family 'Arial'
      font-size 22px
      position: absolute;
      margin-left 68px
      margin-top: 15px;
      opacity 0
    a
      width 100%
      height 100%
      background-size 100%
      background-repeat no-repeat
      display inline-block
      position absolute
      left 1px
      top 1px
      &:hover
        width 56px
        height 56px
        margin-right 0
        left 0
        top 0
  a.fb
    background-image url(../gfx/link-icons/fb.png)
  a.twitter
    background-image url(../gfx/link-icons/twitter.png)
  a.github
    background-image url(../gfx/link-icons/terminal.png)
  a.flickr
    background-image url(../gfx/link-icons/camera.png)
  a.wikimedia
    background-image url(../gfx/link-icons/wikipedia.png)
#content
  width 100%
  position relative
#projects
  margin 0 auto
  overflow visible
  position relative
  text-align center
.project
  width 40%
  max-width 480px
  min-width 290px
  padding 20px 0
  text-align center
  margin auto 1em
  display inline-block
  .cover
    width 100%
    background-color #343434
    box-shadow 3px 3px 12px #000
    border-radius 16px
    display inline-block
    &:hover
      box-shadow 0px 2px 31px #2AC8BF
  .info
    font-family Quattrocento
    margin-top 8px
    display inline-block
    a
      color #888888
      text-decoration none
      &:hover
        color #ddd
    p
      text-align center
      margin 4px auto
    hr
      width 12px
      border-color #333
      margin 2px auto
    .name
      color #ddd
      font-family Quattrocento
      font-weight normal
      font-size 38px
      text-shadow 2px 1px 2px #090909
      margin 8px auto
    .type
      color white
      font-family Matchbook
      font-size 32px
      text-shadow 1px 1px 2px black
    .job
      color #4ce21d
      font-size 20px
    .credits
      color #9effd1
      font-size 18px
#footer
  text-align center
#logos
  img
    margin 0 8px
#info-window
  min-height 10px
  background #5e5e5e
  background-image url(../gfx/tile-brushed-metal.png)
  color #fff
  font-family Arial
  border 1px solid #4d4d4d
  border-radius 20px
  box-shadow 6px 7px 8px rgba(0, 0, 0, 0.8)
  position absolute
  top 10px
  left 50%
  padding 21px
  padding-left 16px
  z-index 9999
  #content
    margin-right 19px
    position absolute
    bottom 0
  .selectable
    &::selection
      background-color #c5a11b
    &::-moz-selection
      background-color #c5a11b
  .close
    width 24px
    height 24px
    position absolute
    top 9px
    right 4px
    color #8f8f8f
    cursor pointer
    display block
    &:hover
      color #ececec
#about-content
  color #bebebe
  font-family BitstreamVeraSans
  strong
    color #ececec