/*
 * Code written in Stylus
 *   Learn more: http://learnboost.github.io/stylus/
 */
@font-face {
  font-family: Kirsty;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Kirsty.ttf") format('truetype');
}
@font-face {
  font-family: Yataghan;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Yataghan.ttf") format('truetype');
}
@font-face {
  font-family: Lobster;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Lobster.otf") format('opentype');
}
@font-face {
  font-family: Quattrocento;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/QuattrocentoSans-Regular.otf") format('opentype');
}
@font-face {
  font-family: Matchbook;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Matchbook.otf") format('opentype');
}
@font-face {
  font-family: BitstreamVeraSans;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/BitstreamVeraSans.ttf") format('truetype');
}
body {
  width: 100%;
  height: 100%;
  background-color: #4e0204;
  background-image: url("gfx/tile-red-scratch.jpg");
  color: #fff;
  text-align: center;
  margin: 0;
}
a {
  text-decoration: none;
}
#header h1,
#header h2 {
  text-shadow: 1px 2px 2px #000;
  margin: 0;
}
#header h1 {
  font-family: Kirsty;
  font-size: 112px;
  color: #00be35;
}
#header h2 {
  font-family: Yataghan;
  font-size: 42px;
  color: #00d34c;
  margin-top: -10px;
}
#avatar {
  width: 70px;
  border: 3px #756e6e solid;
  position: fixed;
  top: 33px;
  right: 15px;
  cursor: pointer;
  z-index: 9999;
}
#menu {
  text-align: left;
  margin: 6px auto;
  position: fixed;
  top: 132px;
  right: 0;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#menu div,
#menu a {
  color: #e0e0e0;
  font-family: BitstreamVeraSans;
  font-size: 19px;
  padding: 6px 12px;
  border-top: 1px solid #242424;
  border-right: 1px solid #242424;
  border-left: 1px solid #1f1e1e;
  border-bottom: 1px solid #4d4d4d;
  -webkit-border-radius: 13px 0 0 13px;
  border-radius: 13px 0 0 13px;
  background-color: rgba(0,0,0,0.52);
  display: block;
  cursor: pointer;
}
#menu div:hover,
#menu a:hover {
  color: #fafafa;
  background-color: rgba(0,0,0,0.3);
  border-color: #777;
}
@media (max-width: 630px) {
  #avatar,
  #menu {
    position: absolute;
  }
}
#links {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 0 1px #000, inset 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 0 1px #000, inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.6), 0 0 0 1px #000, inset 0 1px 0 rgba(255,255,255,0.2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #434343), color-stop(1, #0d0d0d));
  background: -webkit-linear-gradient(top, #434343 0%, #0d0d0d 100%);
  background: -moz-linear-gradient(top, #434343 0%, #0d0d0d 100%);
  background: -o-linear-gradient(top, #434343 0%, #0d0d0d 100%);
  background: -ms-linear-gradient(top, #434343 0%, #0d0d0d 100%);
  background: linear-gradient(top, #434343 0%, #0d0d0d 100%);
  padding: 6px 6px 6px 3px;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  position: fixed;
  left: 0;
  top: 240px;
  margin: 0;
  z-index: 9999;
}
#links li {
  width: 52px;
  height: 52px;
  margin: 0 2px;
  display: block;
  position: relative;
}
#links li .link-text {
  color: #cad0cf;
  text-shadow: 3px 2px 2px #000;
  font-family: Arial;
  font-size: 22px;
  white-space: nowrap;
  background-color: rgba(0,0,0,0.5);
  padding: 2px 11px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  position: absolute;
  margin-left: 40px;
  margin-top: 15px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
#links li a {
  width: 100%;
  height: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 1px;
}
#links li a img {
  width: 100%;
  height: 100%;
}
#links li a:hover {
  width: 56px;
  height: 56px;
  margin-right: 0;
  left: 0;
  top: 0;
}
#content {
  position: relative;
}
.page {
  overflow: visible;
  position: relative;
}
.page > h1 {
  color: #bec110;
  font-family: Lobster;
  font-size: 34px;
  text-shadow: 3px 4px 4px #000;
  margin-top: 32px;
  margin-bottom: 7px;
}
.project {
  width: 40%;
  max-width: 800px;
  min-width: 416px;
  padding: 20px 0;
  margin: auto 1em;
  display: inline-block;
}
.project .cover {
  width: 100%;
  background-color: #343434;
  -webkit-box-shadow: 3px 3px 12px #000;
  -moz-box-shadow: 3px 3px 12px #000;
  box-shadow: 3px 3px 12px #000;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  display: inline-block;
  -webkit-transition: all 0.16s ease-in-out;
  -moz-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
  -ms-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
}
.project .cover:hover {
  -webkit-box-shadow: 0px 2px 31px #aa3d42;
  -moz-box-shadow: 0px 2px 31px #aa3d42;
  box-shadow: 0px 2px 31px #aa3d42;
  -webkit-transform: scale(1.006);
  -moz-transform: scale(1.006);
  -o-transform: scale(1.006);
  -ms-transform: scale(1.006);
  transform: scale(1.006);
}
.project .info {
  width: 100%;
  font-family: Quattrocento;
  margin-top: 8px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
.project .info a {
  color: #888;
}
.project .info a:hover {
  color: #ddd;
}
.project .info p {
  margin: 4px auto;
}
.project .info hr {
  width: 12px;
  border-color: #333;
  margin: 2px auto;
}
.project .info .name {
  color: #ddd;
  font-family: Quattrocento;
  font-weight: normal;
  font-size: 38px;
  text-shadow: 2px 1px 2px #090909;
  margin: 8px auto;
}
.project .info .type {
  color: #fff;
  font-family: Matchbook;
  font-size: 32px;
  text-shadow: 1px 1px 2px #000;
}
.project .info .sub1 {
  color: #4ce21d;
  font-size: 20px;
}
.project .info .sub2 {
  color: #9effd1;
  font-size: 18px;
}
@media (max-width: 903px) {
  .project {
    width: 74%;
    max-width: auto;
    min-width: 0;
  }
  .project .info {
    white-space: normal;
  }
}
#contact {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}
#contact form {
  margin-top: 24px;
  margin-bottom: 10px;
}
#contact label {
  color: #d6c0c0;
  font: 16px/1.8 Arial, sans-serif;
  text-shadow: 2px 2px 1px #000;
  margin-top: 12px;
  display: block;
}
@media (min-width: 500px) {
  #contact .group > label {
    width: 49%;
  }
  #contact .group > label:first-child {
    float: left;
  }
  #contact .group > label:last-child {
    float: right;
  }
}
#contact textarea {
  height: 190px;
  resize: vertical;
}
#contact #submit {
  margin: 0 auto;
}
#contact #submit.error {
  color: #fff;
  background-color: #f00;
}
#contact #success {
  font-size: 19px;
  margin-top: -3px;
  margin-bottom: 20px;
  display: none;
}
#contact input:not([type="submit"]),
#contact select {
  height: 44px;
  display: block;
  margin: 0 auto;
}
#contact input:not([type="submit"]),
#contact select,
#contact textarea {
  width: 100%;
  color: #a9a9a9;
  font-family: Quattrocento;
  font-size: 20px;
  background: #3d3d3d;
  border: 1px solid #10100f;
  -webkit-box-shadow: 3px 4px 16px rgba(0,0,0,0.8);
  -moz-box-shadow: 3px 4px 16px rgba(0,0,0,0.8);
  box-shadow: 3px 4px 16px rgba(0,0,0,0.8);
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 5px;
}
#contact input:not([type="submit"]):focus,
#contact select:focus,
#contact textarea:focus {
  background: #424242;
  outline: none;
}
#contact select {
  -webkit-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
}
#contact select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #a9a9a9;
}
@media (max-width: 480px) {
  #contact select {
    width: 100%;
  }
}
#contact #submit {
  background-color: #62635e;
  color: #fff;
  font-size: 16px;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 9px 14px;
  margin-top: 6px;
  display: block;
  cursor: pointer;
}
#contact #submit:hover {
  color: #000;
  background: #b1b1b1;
}
#contact #submit:focus {
  background-color: #767773;
  outline: none;
}
#logos img {
  margin: 0 8px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#logos img:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#copyright {
  color: #bebbbb;
  font-family: Quattrocento;
  margin: 0;
  padding: 16px 0;
}
#info-window {
  min-height: 10px;
  background: #5e5e5e;
  background-image: url("gfx/tile-brushed-metal.png");
  color: #bebebe;
  font-family: BitstreamVeraSans;
  text-align: left;
  border: 1px solid #4d4d4d;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 6px 7px 8px rgba(0,0,0,0.8);
  -moz-box-shadow: 6px 7px 8px rgba(0,0,0,0.8);
  box-shadow: 6px 7px 8px rgba(0,0,0,0.8);
  padding: 21px 16px;
}
#info-window .close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 9px;
  right: 4px;
  color: #8f8f8f;
  cursor: pointer;
  display: block;
}
#info-window .close:hover {
  color: #ececec;
}
#info-window strong,
#info-window a {
  color: #ececec;
}
#info-window a {
  text-decoration: none;
}
#info-window a:hover {
  color: #ff6161;
}
